.header {
  display: flex;
  padding: 23px 70px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.searchWrapper {
  display: flex;
  align-items: center;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.search {
  margin-right: 56px;
  cursor: pointer;
}

.search path{
  fill: #fff;
}

.headerActiveClass {
  background: rgba(0, 0, 0, 0.8);
 backdrop-filter: blur(5px);
}
