.img {
  width: 100%;
}

.cardName {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
  color: var(--main-white);
  width: 300px;
}

.description {
  color: var(--gray-500);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 16px;
}

.imgWrapper {
  min-width: 126px;
  min-height: 97px;
}

.card {
  display: flex;
  gap: 10px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.card:first-child {
  padding-left: 75px;
}

.liveShow {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid;
  color: var(--red-color);
  border-image: var(--gradient-color) 1;
}

